.header{
  display: none;
  grid-template-columns:1fr 40px ;
  gap: 10px;
  margin: 15px 15px 0px 15px; 

}

.menu{
  width: 40px;
  height: 40px;
  background-color:var(--white);
  display: flex;
  align-items:center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  z-index: 11;
}
.mobileMenu{
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow-y:scroll ;
  background-color:#F5F6F8;
  z-index: 10;
}
.menuClose{
  position: fixed;
  z-index: 11;
  top: 15px;
  right: 15px;
  background-color:var(--white);
  height:40px;
  width:40px;
  display:flex;
  justify-content: center;
  align-items:center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.menuClose:active{
  background-color:var(--primary);
}
.menuClose:active svg *{
  fill:var(--white);
}


@media(max-width:765px){
.header{
  display: grid;

}
}